<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OneEdu.HaGiangHomepage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>
<body>
    <header class="header">
        <div class="hd-img-bg-wrapper">
            <img src="~/images/img-bg.png" class="img-fluid" alt="Ảnh bìa" />
        </div>
        <div class="hd-top-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <img src="~/images/logo-white.png" class="img-fluid" alt="Ảnh logo" />
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <p class="hd-hotline text-right">
                            <a href="#" class="text-decoration-none text-muted">
                                <img src="~/images/hotline-white-ico.png" class="img-fluid img-hotline" alt="Ảnh hotline" /><small>Hotline</small> 0123.01234
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hd-center-block">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-md-9 col-xs-12">
                        <p class="text-center hd-info-text">Cổng thông tin thực hiện dịch vụ tuyển sinh đầu cấp dành cho học sinh mầm non, lớp 1, lớp 6, xác nhận vào 10</p>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="text-center">
                    <a href="#" title="Đăng ký" class="btn btn-info btn-register">Đăng ký</a>
                </div>
            </div>
        </div>
        <div class="hd-bottom-block">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <a href="#" class="text-decoration-none text-muted" title="Quy định tuyển sinh">
                            <img src="~/images/QuyDinhTuyeSinh-ico.png" alt="Quy định tuyển sinh" />
                            <p class="hd-bottom-text-title">Quy định tuyển sinh</p>
                            <p class="hd-bottom-text-desc d-block d-sm-none">Các bài viết liên quan đến luật</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#" class="text-decoration-none text-muted" title="Thông tin tuyển sinh">
                            <img src="~/images/ThongTinTuyenSinh-ico.png" alt="Thông tin tuyển sinh" />
                            <p class="hd-bottom-text-title">Thông tin tuyển sinh</p>
                            <p class="hd-bottom-text-desc d-block d-sm-none">Thông tin, phân tuyến, chỉ tiêu kế hoạch của từng trường</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#" class="text-decoration-none text-muted" title="Đăng ký tuyển sinh">
                            <img src="~/images/DangKyTuyenSinh-ico.png" alt="Đăng ký tuyển sinh" />
                            <p class="hd-bottom-text-title">Đăng ký tuyển sinh</p>
                            <p class="hd-bottom-text-desc d-block d-sm-none">Tuyển sinh đầu cấp cho học sinh, sinh viên</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#" class="text-decoration-none text-muted" title="Kết quả tuyển sinh">
                            <img src="~/images/KetQuaTuyenSinh-ico.png" alt="Kết quả tuyển sinh" />
                            <p class="hd-bottom-text-title">Kết quả tuyển sinh</p>
                            <p class="hd-bottom-text-desc d-block d-sm-none">Tra cứu kết quả tuyển sinh</p>
                        </a>
                    </div>
                    <div class="col text-center">
                        <a href="#" class="text-decoration-none text-muted" title="Hướng dẫn đăng ký">
                            <img src="~/images/HuongDanDangKy-ico.png" alt="Hướng dẫn đăng ký" />
                            <p class="hd-bottom-text-title">Hướng dẫn đăng ký</p>
                            <p class="hd-bottom-text-desc d-block d-sm-none">Hướng dẫn đăng ký trực tuyến</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main">
            <h2 class="main-title text-center">Kết quả tuyển sinh trực tuyến</h2>
            <div class="row">
                <div class="col hidden-xs"></div>
                <div class="col-md-10 col-xs-12">
                    <div class="slider-nav">
                        <div>
                            <p class="text-center">Mầm non</p>
                        </div>
                        <div>
                            <p class="text-center">Mẫu giáo</p>
                        </div>
                        <div>
                            <p class="text-center">Lớp 6</p>
                        </div>
                        <div>
                            <p class="text-center">Vào lớp 10</p>
                        </div>
                    </div>
                </div>
                <div class="col hidden-xs"></div>
            </div>
            <div class="slider-for">
                <div>
                    <div class="row">
                        <div class="col">
                            <p class="slider-txt-count slider-txt-total">2.500+</p>
                            <p class="slider-txt-title">Tổng chỉ tiêu</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-enrolled">1.500+</p>
                            <p class="slider-txt-title">Đã ứng tuyển</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-offline">500+</p>
                            <p class="slider-txt-title">Nộp trực tiếp</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-online">1.000+</p>
                            <p class="slider-txt-title">Nộp online</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            <p class="slider-txt-count slider-txt-total">3.500+</p>
                            <p class="slider-txt-title">Tổng chỉ tiêu</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-enrolled">2.500+</p>
                            <p class="slider-txt-title">Đã ứng tuyển</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-offline">500+</p>
                            <p class="slider-txt-title">Nộp trực tiếp</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-online">2.000+</p>
                            <p class="slider-txt-title">Nộp online</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            <p class="slider-txt-count slider-txt-total">4.500+</p>
                            <p class="slider-txt-title">Tổng chỉ tiêu</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-enrolled">3.500+</p>
                            <p class="slider-txt-title">Đã ứng tuyển</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-offline">1.500+</p>
                            <p class="slider-txt-title">Nộp trực tiếp</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-online">2.000+</p>
                            <p class="slider-txt-title">Nộp online</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col">
                            <p class="slider-txt-count slider-txt-total">14.500+</p>
                            <p class="slider-txt-title">Tổng chỉ tiêu</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-enrolled">14.500+</p>
                            <p class="slider-txt-title">Đã ứng tuyển</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-offline">11.500+</p>
                            <p class="slider-txt-title">Nộp trực tiếp</p>
                        </div>
                        <div class="col">
                            <p class="slider-txt-count slider-txt-online">3.000+</p>
                            <p class="slider-txt-title">Nộp online</p>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="row ft-row">
                <div class="col-md-3 col-xs-12 ft-app-name">
                    <span class="text-wrap ft-app-name">
                        Hệ thống tuyển sinh trực tuyến tỉnh hà giang
                    </span>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="row no-gutters">
                        <div class="col-1 text-center ft-col-icon"><i class="fa fa-map-marker ft-icon" aria-hidden="true"></i></div>
                        <div class="col-11 ft-col-text"><div class="ft-text">Địa chỉ</div><div class="ft-text">2 Yết Kiêu, P. Nguyễn Trãi, Hà Giang</div></div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="row no-gutters">
                        <div class="col-1 text-center ft-col-icon"><i class="fa fa-envelope ft-icon" aria-hidden="true"></i></div>
                        <div class="col-11 ft-col-text"><div class="ft-text ft-text-padding-left">Email</div><div class="ft-text ft-text-padding-left">tuyensinh@hagiang.gov.vn</div></div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="row no-gutters">
                        <div class="col-1 text-center ft-col-icon"><i class="fa fa-phone ft-icon" aria-hidden="true"></i></div>
                        <div class="col-11 ft-col-text"><div class="ft-text ft-text-padding-left">Điện thoại</div><div class="ft-text ft-text-padding-left">0123.01234</div></div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <div class="feedback">
        <a href="#" class="text-decoration-none text-muted" title="Góp ý">
            <p class="feedback-text">
                Góp ý
            </p>
            <img src="~/images/GopY-ico.png" class="img-fluid" alt="Góp ý" />
        </a>
    </div>

    <div class="hotline-mobile">
        <a href="#" class="text-decoration-none text-muted" title="Hotline">
            <img src="~/images/hotline-white-ico.png" class="img-fluid" alt="Góp ý" />
        </a>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
